@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;  
}

/* 2nd part of 1st section. This part contains Image */

.firstseccontainer {
    font-family: 'Roboto', sans-serif;
    padding: 10 10 10 10;
    height: 500px;
    background-color: #1f2937;
}

ul {
    color: #e5e7eb;
    font-size: 18px;
    list-style-type: none;
    display: flex;
    gap: 25px;
}

a {
    color: #e5e7eb;
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hright {
    font-size: 24px;
    color: #f9faf8;
}

/* 2nd part of 1st section. This part contains Image */

.herocontainer {
    display: flex;
    justify-content: space-evenly;
    padding: 40px;
    
}

.puretext,
.imagecontainer {
    width: 350px;
    height: 200px;
}

.cat {
    height: 250px;
    width: auto;
    padding-top: 40px;
}

.maintext {
    font-size: 48px;
    font-weight: 700;
}

.subtext {
    font-size: 18px;
}

.signupbtn {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 15px;
    border-radius: 5px;
    width: 100px;
    height: 30px;
}
