@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;  
}

/* 2nd part of 1st section. This part contains Image */

.firstseccontainer {
    font-family: 'Roboto', sans-serif;
    padding: 10 10 10 10;
    height: 600px;
    background-color: #1f2937;
}

ul {
    color: #e5e7eb;
    font-size: 18px;
    list-style-type: none;
    display: flex;
    gap: 25px;
    margin-right: 100px;
}

a {
    color: #e5e7eb;
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hright {
    margin-left: 100px;
    font-size: 24px;
    color: #f9faf8;
}

/* 2nd part of 1st section. This part contains Image */

.herocontainer {
    display: flex;
    justify-content: space-evenly;
    padding: 40px;
    justify-content: center;
    gap: 50px;
    
}

.puretext,
.imagecontainer {
    margin-top: 50px;
    width: 350px;
    height: 200px;
}

.cat {
    height: 250px;
    width: auto;
    padding-top: 40px;
}

.maintext {
    font-size: 48px;
    font-weight: 900px;
    color: #f9faf8;

}

.subtexttop {
    font-size: 18px;
    color: #e5e7eb;
}

.signupbtn {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 15px;
    border-radius: 5px;
    width: 100px;
    height: 30px;
}

/* Section 2. This part contains InfoTitle,Image,Subtext on image facing downward */

.secondseccontainer {
    height: 500px;
    padding: 10px 10px 40px 10px;
}

.imgtxtholder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;    
}

.imgandinfo {
    height: 200px;
    width: 200px;
}

.cats {    
    width: 180px;
    height: auto;
    padding: 0 10px 0 10px;
    border-radius: 20px;
}

.information {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;    
}

.subtext {
    font-family: 'Roboto', sans-serif;
    color: #1f2937;
    font-size: 18px;
    text-align: center;
}

/* Section 3. This part contains text */

.thirdseccontainer {
    background-color: #e5e7eb;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quotecontainer {
    width: 900px;
    height: 220px;
    padding: 0 20px 0 20px;
}

.quote {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.author{
    display: flex;
    justify-content: end;
}

/* Section 4. This part contains right and left content, text on the left button to the right */

.forthseccontainer {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.forthcontentcontainer {
    background-color: #3882F6;
    display: flex;    
    width: 800px;
    height: 100px;
    border-radius: 20px;
    justify-content: space-around;
    align-items: center;
}

.firstlinetxt {
    color: #e5e7eb;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 20px;
}

.secondlinetxt {
    color: #c1c8d7;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 10px;
}

.signup {
    background-color: #3882F6;
    color: #e5e7eb;
    border-radius: 5px;
    border-color: white;
    width: 80px;    
}

.footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 70px;
    color: #e5e7eb;
    font-family: 'Roboto', sans-serif;
}







